{{ define "main" }}
<article class="post-single">
    <header class="post-header">
        <h1 class="post-title">{{ .Title }}</h1>
    </header>
    <div class="post-content">
        {{ .Content }}

        <div class="experience-table-container">
            <table class="experience-table">
                <tbody>
                    {{ range .Site.Data.experience }}
                    <tr class="experience-row">
                        <td class="experience-company">{{ .company | safeHTML }}</td>
                        <td class="experience-role">{{ .title }}</td>
                        <td class="experience-year">{{ .year }}</td>
                        <td class="experience-description">
                            {{ .description | markdownify }}
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>
</article>
{{ end }}